  
<article class="box row g-0 overflow-hidden flex-md-row mb-4 shadow-sm p-5">
    <h3>Blog</h3>
    <p>Como Cristianos, nos enfrentamos a muchas situacion que no sabemos como resolver, 
      en el blog encontraras respuesta a preguntas comunes, 
      consejos y opiniones respaldados versiculos biblicos y escritos por artistas y autoridades cristianas. <br>
      Recuerda orar para que Dios ponga los medios y puedas crecer y prosperar.
       esperamos que sea de gran bendicion para tu vida.
    </p>
</article>
<%-include("posts/hayalgo.html")%>