<article class="box row g-0 overflow-hidden flex-md-row mb-4 shadow-sm p-5">
    <h3>Contacto</h3>
    <div class="success-alt"></div>
    <div>
        <form id="con-form">
            <label for="name">Nombre</label><br>
            <input type="text" name="name"><br><br>

            <label for="lasname">Apellidos</label><br>
            <input type="text" name="lastname"><br><br>

            <label for="email">Correo</label><br>
            <input type="email" name="email"><br><br>

            <label for="message">Asunto o Mensaje</label><br>
            <textarea name="message" placeholder="En que podemos ayudarte"></textarea><br><br>

            <input type="submit" value="Enviar Solicitud de Contacto">


        </form>
    </div>
</article>