<article class="box row g-0 overflow-hidden flex-md-row mb-4 shadow-sm p-5">
  <h3>Anuncios</h3>
  <h4>- <strong>Domingo 1 de Mayo 2022</strong> - Convivio Dia del niño
   </h4>
</article>

<article class="box row g-0 overflow-hidden flex-md-row mb-4 shadow-sm p-5">
    <h3>Eventos Pasados</h3>
    <p>El señor nos invita a congregarnos y convivir con nuestros hermanos en <strong>Cristo Jesús</strong>,
        aqui algunos recuerdos de los ultimos eventos
        <br> 
    </p>
        <!-- Button trigger modal -->

    <div id="gallery" class="container-fluid">
      <h4>Galerias</h4>
      
        <div id="gal-1" class="image-mask container p-3 ">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal1">
            <h5>11° Aniversario PJM | Ordenanza de Pastores</h5>
            <img class="cover" src="img/eventgallery/1/2.jpg">
          </button>
        </div>
        <!-- <div id="gal-2" class="image-mask container p-3 ">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal2">
            <h5>11° Aniversario PJM | Ordenanza de Pastores</h5>
            <img class="cover" src="img/eventgallery/1/1.jpg">
          </button>
        </div> -->
        <!-- <div id="gal-3" class="image-mask container p-3">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal3">
            <h5>11° Aniversario PJM | Ordenanza de Pastores</h5>
            <img class="cover" src="img/eventgallery/1/1.jpg">
          </button>
        </div>      -->
    </div>

<!-- Modal 1-->
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1lLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal1Label">11° Aniversario PJM | Ordenanza de Pastores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%-include("events/gal-1.html")%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2lLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal2Label">11° Aniversario PJM | Ordenanza de Pastores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%-include("events/gal-2.html")%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3lLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal3Label">11° Aniversario PJM | Ordenanza de Pastores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%-include("events/gal-3.html")%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> -->



    
    <!-- <a href="media.html">Ver más temas...</a> -->
</article>
