  
<article class="box row g-0 overflow-hidden flex-md-row mb-4 shadow-sm p-5">
  <h3>Blog </h3>
  <p>Como Cristianos, nos enfrentamos a muchas situacion que no sabemos como resolver, 
    en el blog encontraras respuesta a preguntas comunes, 
    consejos y opiniones respaldados versiculos biblicos y escritos por artistas y autoridades cristianas. <br>
    Recuerda orar para que Dios ponga los medios y puedas crecer y prosperar.
     esperamos que sea de gran bendicion para tu vida.
  </p>
  <div id="entrada-blog" class="container">
    <%- include("blog/posts/hayalgo.html")%>
    
  </div>
  <a href="blog">Leer post completo...</a>
  
  <a href="blog">Ver más posts...</a>
  

</article>

<article class="box row g-0 overflow-hidden flex-md-row mb-4 shadow-sm p-5" id="service">
  <h3 class="d-inline-block my-2 ">Peticiones de Oracion</h3>
  <div class="success-alt"></div>
  <p>Dios sabe que tienes necesidad, ¡Te ayudamos a orar por ello!</p>
  <form id="i_need">
    <label class="mb-2" for="pray">Quiero pedirle a Dios:</label><br>
    <textarea id="pray" name="pray" placeholder="Escribe aqui tu necesidad."></textarea><br>
    <input type="submit" value="Enviar peticion">
    <br>

    <a href="contact.html">Contáctanos...</a>
  </form>
</article>


<article class=" box container g-0 overflow-hidden flex-md-row mb-4 shadow-sm p-5" id="vids">
  <h3>Videos Recomendados</h2>
    <div class="vids container-fluid mb-3">  
      <h5>Apóstol Rafael Salinas - Centro Cristiano Peniel Center - El poder de la resurreción.</h5>
      <iframe class="mb-4" width="560" height="315" src="https://www.youtube.com/embed/gLD5L71_9YI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
      <h5>Pastor Eliel Salinas - Centro Cristiano Peniel Center - Como vivir el Evangelio con verdadero gozo.</h5>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/mnZCQd80xpg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <a href="media.html">Ver más contenido...</a>

</article>




<article class="box row g-0 overflow-hidden flex-md-row mb-4 shadow-sm p-5" id="visit">
  <h3>Visitanos</h3>
  <p>¡Un mensaje de salvación te espera!</p>
  <p>Nos ubicamos en:</p>
  <p>Colonia Jardines de Morelos Seccion Playas</p>
  <div id="ubi"></div>
  <p class="important">¡Te esperamos!</p>

</article>
