<article class="box row g-0 overflow-hidden flex-md-row mb-4 shadow-sm p-5">
    <h3>Videos</h3>
    <p>En este espacio encontraras predicas de diferentes pastores dentro de la red de iglesias Peniel,
      Proximamente pondremos a tu disposicion las reuniones dominicales de Peniel Jardines de Morelos ya que nuestro canal de You Tube se encuentra <strong>En construccion</strong>.
      
        <br> 
      Te recomendamos tener tu biblia en mano y que prestes atencion a la palabra de <strong> Vida</strong>
    </p>

    
    <div class="container-fluid">
      <div class="vid">
        <h5>Apóstol Rafael Salinas - Peniel Center - El poder de la resurreción.</h5>
        <iframe width="350" height="220" src="https://www.youtube.com/embed/gLD5L71_9YI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="vid">
        <h5>Pastor Eliel Salinas - Peniel Center - Como vivir el Evangelio con verdadero gozo.</h5>
        <iframe width="350" height="220" src="https://www.youtube.com/embed/mnZCQd80xpg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="vid">
        <h5>Lic. Gerardo Santiago - La convicción de seguir a Jesús.</h5>
        <iframe width="350" height="220" src="https://www.youtube.com/embed/ebQtCfctWJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    
    </div>
</article>
