

  <!-- CABECERA -->
  <header id="header" class="row">
    <div id="logo" class="col">
      <a href="/"><img class="anim" src="img/logo1.png" alt="Logo Peniel"></a>
    </div>
    <div id="message" class="col-7">
      <h1 id="wlcm" class="anim2">Bienvenido</h1>
      <h1 id="ccp" class="anim3">CENTRO CRISTIANO PENIEL <br> Jardines de Morelos</h1>
    </div>
    <div id="user-logged" class="col-2">
      <div> 
        <a href="signin">Iniciar Sesion</a>
        <a href="register">Registrarse</a>
      </div>
    </div>
  </header>

  <!-- FIN DE CABECERA -->
  <!-- MENU -->
  <nav id="menu" class="col-11">
  
    <nav  class="navbar navbar-expand-lg ">
          <ul class="navbar-nav  ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="whowe">¿Que es Peniel?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="events">Anuncios y Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="media">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contacto</a>
            </li>
            </li>
          </ul>        
    </nav>
  </nav>
  

<!-- FIN DE MENU -->
