<div class="d-flex flex-column align-items-stretch flex-shrink-0 col">

  <!-- LOGIN -->
  <div id="login-side" class="barsec p-3 lh-tight">
    
      <a href="signin"> Inicia Sesión</a>
      <!-- MODAL REGISTRO -->
      <a href="register"> Registrar Nueva Cuenta</a>

    
  </div>

  <!-- FIN DE LOGIN/////////////////////////// -->
  <div class=" border-bottom ">

    <article class=" barsec p-3 lh-tight mb-1" id="events">
      <div class="w-100">
        <h4>Gotas de Vida</h4>
        <p>Versiculo del Día: <br>
          <strong> Juan 3: 16:</strong>
          <br>
          "Por que de tal manera amó Dios al mundo que ah dado a su hijo unigenito,
          para que todo aquel que en él crea, no se pierda, mas tenga vida eterna"
        </p>
      </div>
      <!-- SLIDER BARRA LATERAL -->


    </article>

    <article class=" barsec p-3 lh-tight" id="contactus">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <h4>¿Nesesitas consejeria particular?</h4><br>
      </div>
      <div class="col mb-1 small">¡No te preocupes ponte contacto con nosotros! <br>
        Da click <a href="contact">"Aqui"</a> para mas informacion</div>
    </article>

    <article class=" barsec p-3 lh-tight" id="social">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <h4>Siguenos en:</h4><br>
      </div>
      <div class="col mb-1 small"><a href="https://www.facebook.com/peniel.jardinesdemorelos"> Facebook</a><br>
        <a href="#">YouTube</a>
      </div>
    </article>


  </div>