<!-- PRESENTACION -->
<section id="presentation" class="container-fluid mt-4">
    <div id="slider" class="container col col-12">

      <!-- SLIDER BOOTSTRAP -->
      <!-- BOTON PREV -->
      <div id="carousel" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <!-- FIN DE BOTON PREV -->
        <div class="carousel-inner">
          <div id="img1Slide" class="carousel-item active">
            <img src="img/slide.jpg" class="d-block" alt="...">
            <div class="carousel-caption d-none d-md-block" id="whowe">
              <h2>"Más que una Iglesia somos una Gran Familia"</h2>
              <p>- Personas ordinarias haciendo cosas extraordinarias en: -</p>
              <p id="faith">- Cristo Jesús -</p>
              <a href="whoweare.html">Saber más..</a>
            </div>
          </div>
          <div id="img2Slide" class="carousel-item">
            <img src="img/slide-event.jpg" class="d-block" alt="...">
            <div class="carousel-caption d-none d-md-block" id="whowe">
              <p>- Convivencias entre hermanos en Cristo -</p>
              <p class="highlight">- Eventos -</p>
              <a href="events.html">Saber más..</a>
            </div>
          </div>
          <div id="img3Slide" class="carousel-item">
            <img src="img/apos.gif" class="d-block" alt="...">
            <div class="carousel-caption d-none d-md-block" id="whowe">
              <p>- Contenido para edificar tu vida -</p>
              <p class="highlight">- Videos -</p>
              <a href="media.html">Saber más..</a>
            </div>
          </div>
        </div>
        <!-- BOTON NEXT -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  </section>
  <!-- FIN DE SLIDER BOOTSTRAP -->
  <!-- FIN DE PRESENTACION -->